
@{
    ViewData["Title"] = "About";
}

    <div class="row">
        <div class="col-sm-6">
            <h1 class="text-center mb-2">About Us</h1>
            <p>
                Established in 1991, we are a trendy, independent bookstore and gift
                shop nestled in a historic building in downtown Colorado Springs.
            </p>
            <p>
                We carry countless new and used classics, children's books, as well as
                in demand bestsellers! We also offer a wide array of stationary, puzzles and art.
            </p>
        </div>
        <div class="col-sm-6">
            <ul class="list-group col-sm-6 center mb-5">
                <li class="list-group-item">Monday    -    11:00 AM to 5:30 PM</li>
                <li class="list-group-item">Tuesday   -    11:00 AM to 5:30 PM</li>
                <li class="list-group-item">Wednesday -    11:00 AM to 6:00 PM</li>
                <li class="list-group-item">Thursday  -    11:00 AM to 6:00 PM</li>
                <li class="list-group-item">Friday    -    10:00 AM to 7:00 PM</li>
                <li class="list-group-item">Saturday  -    10:00 AM to 7:00 PM</li>
                <li class="list-group-item">Sunday    -    12:00 PM to 5:00 PM</li>
            </ul>
        </div>
    </div>

